body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

img {
	margin: 40px 8px 0 8px;
}

main {
	width: 850px;
	margin: 35px auto;
	align-content: center;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

h1 {
	font-family: "Raleway";
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}

h3 {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

.sectionLink {
	font-family: "Raleway";
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
}